In [18]:
import re
import re
import time
import os, sys
#pip install transformers=="4.22.0"
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM
import os, sys
tokenizer = AutoTokenizer.from_pretrained("facebook/nllb-200-distilled-600M")
model = AutoModelForSeq2SeqLM.from_pretrained("facebook/nllb-200-distilled-600M")

def spliti(text):
    l=text.split('\n')
    g=[]
    for i in l :
        x = re.sub('\. ','.\\n', i)
        x = re.sub('\t','\\n', x)
        g.append(x.split('\n'))
    k=[]
    for i in g:
        for j in i :
            k.append(j)
    return k
def zho_ang(article):
    tokenizer.src_lang = "zho_Hans"
    G=[]
    l=spliti(article)
    #print(l)
    for i in l :
        encoded_hi = tokenizer(i, return_tensors="pt")
        generated_tokens = model.generate(**encoded_hi, forced_bos_token_id=tokenizer.lang_code_to_id["eng_Latn"])
        article_en=tokenizer.batch_decode(generated_tokens, skip_special_tokens=True)
        #print(article_en[0])
        for n in article_en :
            G.append(n)
    return ' '.join(G)

In [39]:
# import sqlite3
# mysql 
import mysql.connector
from mysql.connector import Error
conn = mysql.connector.connect(host='43.198.99.5',database='scraper',port='3307', user= 'root', password='guest123')
c = conn.cursor()
import pandas as pd
def apply_function_to_column():
    
    
    # Apply the function to each value in the input column
    values = pd.read_sql("SELECT id,title FROM companies where title is not null and english_name is null LIMIT 5",conn)
    values['title']=values['title'].apply(zho_ang)ca
    print(values)


    # Execute an UPDATE statement to set the values in the output column
    for i,value in values.iterrows():
        c.execute(f"UPDATE companies SET english_name = '{value['title']}' WHERE id = '{value['id']}'")
        

    # Commit the changes and close the connection
    conn.commit()
    conn.close()

In [38]:
apply_function_to_column()

C:\Users\omare\AppData\Local\Temp\ipykernel_25972\3539680986.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  values = pd.read_sql("SELECT id,title FROM companies where title is not null and english_name is null LIMIT 5",conn)
C:\Users\omare\.conda\envs\myenv\lib\site-packages\transformers\generation_utils.py:1227: UserWarning: Neither `max_length` nor `max_new_tokens` has been set, `max_length` will default to 200 (`self.config.max_length`). Controlling `max_length` via the config is deprecated and `max_length` will be removed from the config in v5 of Transformers -- we recommend using `max_new_tokens` to control the maximum length of the generation.
  warnings.warn(

                                      id  \
0  0000986f-cd57-3e8c-9422-49da10ecfd161
1  0000a149-03e1-3790-87ef-34fe04eff4fc1
2  0000a63b-8279-3ce8-a2f6-169cd6c6a9861
3  0000aa8d-1d61-36be-9f87-f7970075224a1
4  0000b8dc-bb45-3c98-8cd7-562ca8c69d6f1

                                               title
0  Bridge and woodworking plant in Jiangxi, Chong...
1  The company is owned by the Chinese mining com...
2                      Hongqing County Labor Limited
3  Liangping County Minda Town Grain Processing P...
4  Employee Technical Cooperation Services of the...
id                   0000986f-cd57-3e8c-9422-49da10ecfd161
title    Bridge and woodworking plant in Jiangxi, Chong...
Name: 0, dtype: object
id                   0000a149-03e1-3790-87ef-34fe04eff4fc1
title    The company is owned by the Chinese mining com...
Name: 1, dtype: object
id       0000a63b-8279-3ce8-a2f6-169cd6c6a9861
title            Hongqing County Labor Limited
Name: 2, dtype: object
id                   0000aa8d-1d61-36be-9f87-f7970075224a1
title    Liangping County Minda Town Grain Processing P...
Name: 3, dtype: object
id                   0000b8dc-bb45-3c98-8cd7-562ca8c69d6f1
title    Employee Technical Cooperation Services of the...
Name: 4, dtype: object